img.img-circle{
  max-width: 120px;
  min-height: 120px;
  border: 2px solid #e7e7e7;
  border-radius: 50%;
}
div.rank-label-container{
  margin-top: -13px;
  margin-left: 27px;
}

.repos-table{
  margin-top: 25px;
}